:root,
html,
body,
#root,
* {
	margin: 0;
	padding: 0;
	min-height: 100%;
	box-sizing: border-box;
}

* {
	--bg-color: rgb(219, 219, 219);
	--bg-color2: rgb(182, 182, 182);
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	color: black;
}
html {
	background-color: var(--bg-color2);
}

#content {
	background-color: var(--bg-color);
	white-space: pre-wrap;
}
#content > p {
	padding: 0.5rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	line-height: 1.1rem;
}
p:last-child {
	background-color: rgb(233, 233, 233);
}
footer {
	height: 50vh;
	background-color: var(--bg-color2);
}
