:root,
html,
body,
#root,
* {
	margin: 0;
	padding: 0;
	min-height: 100%;
	box-sizing: border-box;
}

* {
	--bg-color: rgb(219, 219, 219);
	--bg-color2: rgb(182, 182, 182);
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	font-weight: 400;
	color: black;
}
html {
	font-size: 1.5rem;
	background-color: var(--bg-color2);
}

#content {
	background-color: var(--bg-color);
	white-space: pre-wrap;
}
p:last-child {
	background-color: rgb(233, 233, 233);
}
footer {
	height: 50vh;
	background-color: var(--bg-color2);
}


p {
	padding: 0rem 0;
	line-height: 1.2rem;

	border-top:1px dashed black;
	border-bottom:1px dashed black;
}
.icon-wrapper:hover{
	cursor:pointer;
}